
.acontainer {
    height: 40vh;
    width: 100%;
    background-color: #F5F5F5;
    margin-bottom: 10px;
}

.content {
    padding: 10px;
    overflow-y: scroll;
    word-break: normal;
}

.bg {
    display: flex;
    justify-content: center;
    position: relative;
}
