#about-section {
  position: relative;
  margin-top: 0px;
  padding-top: 65px;
  height: 70vh; 
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* @media (orientation:landscape) and (max-height:600px) {
  .about-section {
    min-height: 500px; 
  }
} */

@media (orientation:landscape) {
  .about-section {
    min-height: 650px; 
  }
}

@media (orientation:portrait) {
  .about-section {
    min-height: 700px; 
  }
}



.about-container {
  z-index: 1;
  height: 47vh; 
  margin-left: 20%;
  margin-right: 20%;
  background-color: whitesmoke;
}

@media (min-width: 500px) and (max-width: 800px) {
  .about-container {
    top: 20%
  }
}

  
  @media (max-width: 400px) {
    .about-container {
      height: auto; 
    }
  }

  @media (max-width: 400px) {
    .about-container {
      height: auto; 
      padding-bottom: 80px; 
    }
  }
  
  @media (orientation:landscape) and (max-height:600px) {
    .about-container {
      min-height: 400px; 
      transform:translateY(-10%);
    }
  }
  
  .about-content {
    padding: 10px;
    word-break: break-word;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 .about-txt{
    font-family: "Montserrat";
    line-height: 60px;
    font-weight: 590;
    font-size: 1.5em; 
    text-align: justify;
    text-indent: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    margin: 1vh;
    width: 100%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    overflow: auto;
  }


  @media (max-width: 2000px) {
    .about-txt {
        font-size: 1em; 
        line-height: 25px;
        font-weight: 590;
      }
    }
  

  @media (max-width: 1200px) {
  .about-txt {
      font-size: 0.85em;
    }
  }

  .about-diag {
    position: absolute;
    top: 25%;
    left: 0%;
    width: 110%;
    height: 35%;
    z-index: 1;
  }
  
  @media (orientation:landscape) and (max-width: 2000px) {
    .about-diag {
      top:40%;
    }
  }

  @media (orientation:landscape) and (max-width: 900px) {
    .about-diag {
      top:50%;
    }
  }

  @media (orientation:landscape) and (max-width: 700px) {
    .about-diag {
      top:80%;
    }
  }
  
  
  
  
  .about-diag::after {
    content: '';
    position: absolute;
    left: 40%;
    width: 100%;
    height: 80%;
    background: whitesmoke;
    flex-shrink: 0; 
    transform-origin: 100% 0%;
    -webkit-transform: rotate(-5deg) translateX(-50%);
    -ms-transform: rotate(-5deg) translateX(-50%);
    transform: rotate(-5deg) translateX(-50%);
  }


