.contact-section {
    position: relative;
    margin-top: 0;
    padding-top: 65px;
    background: #fff;  
    min-height: 200vh;
    width: 100vw;
    background-color: whitesmoke;
    align-items: center;
}

.contact-container {
    z-index: 200;
    position: absolute;
    height: 75%; 
    margin-left: 20%;
    margin-right: 20%;
    z-index: 200;
}