.contact-section {
    position: relative;
    margin-top: 0;
    padding-top: 40x;
    background: #fff;  
    height: max-content; 
    min-height: 80em;
    width: 100vw;
    background-color: whitesmoke;
    align-items: center;
    z-index: 1; 
    display: flex; 
    flex-direction: column;
}

.contact-container {
    position: relative; 
    z-index: 1;
    width: 100vw;
    min-height: 50em; 
    height: max-content;
    flex-shrink: 0;
    margin-bottom: 0; 
    margin-inline-start: 0; 
    margin-inline-end: 0; 
}

#contact-grid {
    place-items: start; 
}

.mail-section > img {
    width: 40px; 
    display: inline-block;
}

.location-section > img {
    width: 40px;
    display: inline-block;
}
