.diag-container {
    height: 60vh;
}
.slider-container {
    align-items: center;
    height: 95%;
    width: 100%;
    background-color: white;
    margin: 3% 0;
    text-align: center;
}

.diag-container::before {
    content: "";
    display: block;
    position: relative;
    height: 50%;
    width: 300%;
    left: 50%;
    background-color: white;
    top: 0px;
    -webkit-transform: rotate(-5deg) translateX(-50%)  translateY(-130%);
    -ms-transform: rotate(-5deg) translateX(-50%)  translateY(-130%);
    transform: rotate(-5deg) translateX(-50%) translateY(-130%);
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    z-index: 150;

}

.econtainer {
    z-index: 200;
    position: relative;
    transform: translateY(-130%);
    max-height: 300px;
}