.ethos-element-container {
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  height: 100%; /* Set the desired height */
}

.ethos-element-content,
.et-content {
  display: inline-flex;
  margin-top: auto;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-height: 400px; 
}

.ethos-element-content {
  width: 200px;
}

.et-content {
  width: 186px;
}

.et-img {
  width: 186px !important; 
}

.caption {
  font-family: "Beckman";
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 13px;
  margin-top: 12px;
  text-align: center;
  display: inline-block;
  white-space: nowrap; /* Prevent the caption from wrapping to multiple lines */
}

.invisibe {
  opacity: 0; 
}
/* Initial state for hidden elements */
.hide-element {
  opacity: 0;
  transform: translateY(20px);
}

/* Display state for visible elements */
.display-element {
  opacity: 1;
  transform: translateY(0);
  animation: fade-in 0.5s ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.blue {
  background-color: blue;
}