.events-section {
    position: relative;
    margin-top: 0px;
    padding-top: 65px;
    min-height: 60vh;
    width: 100vw;
    background-color: white;
    display: flex; 
    flex-direction: column;
}

@media (orientation:landscape) {
    .events-section {
      min-height: 650px; 
    }
  }
  
  @media (orientation:portrait) {
    .events-section {
      min-height: 500px; 
    }
  }

.events-container {
    z-index: 200;
    background-color: white;
    height: 60vh;
    padding-top: 10px;  /* distance of heading to profile container */
    padding-bottom: 20px;
    align-items: center;
    flex-direction: row;
}

.events-content {
    text-align: center;
    font-family: "Montserrat";
    align-items: center;
}

.events-image {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100vw;
    align-self: center;
}

.events-desc{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 0.9em;
}

.events-diag {
    position: absolute;
    top: 60%;
    left: 0%;
    width: 110%;
    height: 60%;
    z-index: 1;
  }
  
  .events-diag::after {
    content: '';
    position: absolute;
    display: block;
    flex-shrink: 0; 
    top: 10%;
    left: 40%;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    transform-origin: 100% 0%;
    -webkit-transform: rotate(-5deg) translateX(-50%);
    -ms-transform: rotate(-5deg) translateX(-50%);
    transform: rotate(-5deg) translateX(-50%);
  }
  