  #goals-section {
    position: relative;
    margin-top: 0;
    padding-top: 65px;
    background: #fff;  
    height: 80vh;
    width: 100vw;
  }
  
.goals-container {
    z-index: 200;
    position: absolute;
    background-color: white;
  }


.desktop-mode {
    width: 100%;
    max-height: 100%; /* Height for desktop mode */
  }
  
.mobile-mode {
    width: 100%;
    max-height: 70%; /* Height for mobile mode, adjust the value as needed */
  }
  
.img-container {
    width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0em;
    border: 0em;
  }

.desktop-image {
  /* Goal Image size for enlarged desktop screen */
    max-width: 80%;
    max-height: 90%;
  }


@media (max-width: 1200px) {
    /* Goal Image size for smaller desktop screen */
    .desktop-image {
      min-width: 25vw;
      min-height: 25vh; /* Adjusted height for better proportions */
    }
  }

  @media (max-width: 800px) {
    /* Goal Image size for smaller desktop screen */
    .desktop-image {
      min-width: 20vw;
      min-height: 20vh; /* Adjusted height for better proportions */
    }
  }


  
.mobile-image {
    scale: 1;
    max-width: 50%;
    max-height: 30%;
    width: auto;
    height: auto;
  }

@media (min-width: 600px) and (max-width: 850px) {
  .mobile-image {
    width: 25%;
    height: 25%
  }
}

@media (max-width: 599px)  {
  .mobile-image {
    width: 35%;
    height: 40%
  }
}
