  #goals-section {
    position: relative;
    margin-top: 0;
    padding-top: 65px;
    background: #fff;  
    height: 80vh;
  }

  @media (max-width: 850px) {
    #goals-section {
    height: 100vh;
    }
  }

 
.goals-section .diag-container::before {
    /* Styles for general .diag-container::before in app.css*/
    background-color: white;
    content: "";
    display: block;
    position: absolute;
    height: 30%;
    max-width: 101%;
    overflow-x: hidden;
    top: 0px;
    -webkit-transform: rotate(-5deg) translateX(-50%)  translateY(-75%);
    -ms-transform: rotate(-5deg) translateX(-50%)  translateY(-75%);
    transform: rotate(-5deg) translateX(-50%) translateY(-75%);
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    z-index: 200
  }
  
@media (min-width: 500px) and (max-width: 830px) {
  .goals-section .diag-container::before {
    -webkit-transform: rotate(-5deg) translateX(-50%)  translateY(-30%);
    -ms-transform: rotate(-5deg) translateX(-50%)  translateY(-30%);
    transform: rotate(-5deg) translateX(-50%) translateY(-30%);
    }
  }


@media (max-width: 500px) {
  .goals-section .diag-container::before {
    -webkit-transform: rotate(-5deg) translateX(-50%)  translateY(-10%);
    -ms-transform: rotate(-5deg) translateX(-50%)  translateY(-10%);
    transform: rotate(-5deg) translateX(-50%) translateY(-10%);
  }
}
  
.goals-container {
    z-index: 200;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
  }

.desktop-mode {
    width: 100%;
    max-height: 100%; /* Height for desktop mode */
    transform: translateY(-100%);
  }
  
.mobile-mode {
    width: 100%;
    max-height: 70%; /* Height for mobile mode, adjust the value as needed */
    transform: translateY(-70%);
  }
  
.img-container {
    width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0em;
    border: 0em;
  }

.desktop-image {
  /* Goal Image size for enlarged desktop screen */
    width: 80%;
    height: 90%;
  }


@media (max-width: 1000px) {
    /* Goal Image size for smaller desktop screen */
    .desktop-image {
      width: 80%;
      height: 80%; /* Adjusted height for better proportions */
    }
  }

  
.mobile-image {
    scale: 1;
    max-width: 50%;
    max-height: 30%;
    width: auto;
    height: auto;
  }

@media (min-width: 600px) and (max-width: 850px) {
  .mobile-image {
    width: 25%;
    height: 25%
  }
}

@media (max-width: 599px)  {
  .mobile-image {
    width: 35%;
    height: 40%
  }
}
