
.goal-container {
    height: 65vh;
    width: 100%;
    background-color: white;
    justify-content: center;
    padding-top: 30px;
  }

  .img-container {
    width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 30px;
  }

  .desktop-image {
    max-width: 75%;
    max-height: 60%;
  }
  
  .mobile-image {
    max-width: 90%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  .desktop-mode {
    width: 100%;
    max-height: 100%; /* Height for desktop mode */
  }
  
  .mobile-mode {
    height: 100%; /* Height for mobile mode, adjust the value as needed */
  }