.web-heading {
  font-family: "Beckman";
  font-size: 1.9rem;
  padding: 20px;
  font-weight: 600;
  text-indent: 5px;
  letter-spacing: 4px;
  z-index: 150; 
}

.triangle {
  display: inline-block;
  float: center;
  width: 17px;
}

.centered {
  text-align: center;
}