.web-heading {
  font-family: "Beckman";
  font-size: 30px;
  padding-bottom: 40px; 
  font-weight: 600;
  letter-spacing: 4px;
  z-index: 150; 
  width: 100%; 
}

.triangle {
  display: inline-block;
  width: 17px;
}

.centered {
  text-align: center;
}