img {
    object-fit: cover;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #F5F5F5;
    height: 80vh;
}


  
#cube { /* sizing in below code */
    transform: translateY(10%);
    transition: all 0.25s ease;
    scale: 1;
    width: 40em;
    height: 40em;  
    z-index: 1000;
  }


  @media (max-width: 1022px) {
    /* Cube size for small screens */
    #cube {
      width: 30em;
      height: 30em; /* Adjusted height for better proportions */
    }
  }

  @media (min-width: 1022px) and (max-width: 1400px) {
    /* Cube size for medium screens */
    #cube {
      width: 40em;
      height: 40em; /* Adjusted height for better proportions */
    }
  }

