img {
    object-fit: cover;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #F5F5F5;
    height: 100vh;
}

.hero .bg .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
}

.hero .bg .content .title {
    font-size: 50px;
    font-weight: bolder;
    color: #5B8ADC;
    padding-bottom: 20px !important;
}

.hero .bg .content .little {
    font-size: 18px;
    font-weight: 500;
    transform: translate(-50%, -50%);
}

.hero .bg .welcome {
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    bottom: 12%;
    right: 45%;
    transition: 0.5s ease;
    color: white;
    cursor: pointer;
    transform: translate(50%, 0%);
}
  
#cube {
    width: 100vw; /* Default size */
    height: 60wh; /* Default size */
    transform: translateY(10.5%);
    transition: all 0.25s ease;
    scale: 0.8;
    
  }

  @media (min-width: 1024px) {
    /* Cube size for medium screens */
    #cube {
      width: 100vw;
      height: 60vw; /* Adjusted height for better proportions */
    }
  }

  @media (max-width: 1024px) {
    /* Cube size for medium screens */
    #cube {
      width: 100vw;
      height: 100vw; /* Adjusted height for better proportions */
    }
  }