img {
    object-fit: cover;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #F5F5F5;
    height: 100vh;
}

.hero .bg .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
}

  
#cube { /* sizing in below code */
    margin-top: 50px;
    transform: translateY(20%);
    transition: all 0.25s ease;
    scale: 0.8;
    
  }


  @media (max-width: 1022px) {
    /* Cube size for medium screens */
    #cube {
      width: 150vw;
      height: 120vw; /* Adjusted height for better proportions */
    }
  }

  @media (min-width: 1022px) and (max-width: 1400px) {
    /* Cube size for medium screens */
    #cube {
      width: 120vw;
      height: 100vw; /* Adjusted height for better proportions */
    }
  }


  @media (min-width: 1400px) {
    /* Cube size for larger screens  */
    #cube {
      width: 100vw;
      height: 60vw; /* Adjusted height for better proportions */
    }
  }

