
.headers {
    font-family: 'Beckman';
    margin: 3%;
}

.content {
    padding: 2%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3rem;
    padding-top: 0;
    text-indent: 1.25rem;
}

#logo {
    max-width: 300px;
}

.page {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 100%;
    padding: 2%;
    padding-right: 3%;
}

.page > .head, p, .text-box {
    margin: 3% 0;
    line-height: 1.8rem;
    padding-right: 5%;
    
}

.next {
    margin: 5% 0;
    margin-right: 3%;
    float: right;
}

.back {
    margin: 5% 0;
    margin-left: 3%;
    float: left;
}

.tabs {
    margin-top: 2%
}


.intro-flex {
    display: flex;
    justify-content: space-between;
}
.floating { 
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0); }
    50%  { transform: translate(0, 8%); }
    100%   { transform: translate(0, -0%); }   
}