.headers {
    font-family: 'Beckman';
    margin: 3%;
}

.content {
    padding: 2%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    padding-top: 0;
    text-indent: 1.25rem;
}

#logo {
    max-width: 300px;
}


.page {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 100%;
}

.page > .head, p {
    margin-top: 3%;
}

.next {
    margin: 5% 0;
    margin-right: 3%;
    float: right;
}

.back {
    margin: 5% 0;
    margin-left: 3%;
    float: left;
}



