
.headers {
    font-family: 'Beckman';
    margin: 3%;
}

.content {
    padding: 2%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.3rem;
    padding-top: 0;
    text-indent: 1.25rem;
}

#logo {
    max-width: 300px;
}

.page {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 100%;
    padding: 2%;
    padding-right: 3%;
}

.page > .head, p, .text-box {
    margin: 3% 0;
    line-height: 1.8rem;
    padding-right: 5%;
    
}

.next {
    margin: 5% 0;
    margin-right: 3%;
    float: right;
}

.back {
    margin: 5% 0;
    margin-left: 3%;
    float: left;
}

.tabs {
    margin-top: 2%
}


.intro-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.floating { 
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0); }
    50%  { transform: translate(0, 8%); }
    100%   { transform: translate(0, -0%); }   
}

.page_collapses, .page_collapses2 {
    margin: 2% 0;
    display: flex;
    justify-content: space-around;
}


a {
    font-weight: bold;
}

.vert-container {
    display: flex;
    gap: 4%;

}

.page_collapses2 {
    flex-direction: column;
    height: 300px;

}

.page_collapses2 > * {
    margin-bottom: 10px;
}

.accordion_heading {
    font-weight: bold;
    text-align: justify;
    margin: 1vh;
    width: 100%;
    font-size: 1.1em;
}

ul li {
    margin-left: 3rem;
    list-style-type: square;
}

.system {
    width: 20%;
    height: 20%;
}

.ada {
    width: 15%;
    height: 15%;
}
.questions > * {
    margin-bottom: 2%;
}

.conclusion-graphic {
    width: 50%;
    margin: 0 auto;
}

.during-graphic {
    width: 50%;
    margin: 0 auto;
    

}

.intro-graphic {
    width: 50%;
}

.eval {
    width: 40%;
}

.layout {
    display: flex;
    align-items: center;
}

.layout-graphic {
   width: 45%;
   max-width: 500px;
   max-height: 500px;
   margin-top: 10%;
   margin-left: 3%;
   width: 100%

}

.slider {
    width: 90%;
    margin: 5% auto;
    margin-bottom: 0;
    padding: 0;

}

.spacer {
    margin-left: 0.5rem;
    margin-bottom: 0.4rem;
    
}