#navbar-section {
    width: 100vw;
    position: relative;
}

@media (orientation:landscape) and (max-height:600px) {
    #navbar-section {
      min-height: 20em; 
    }
  }

  @media (orientation:landscape) and (max-height:600px) {
    .navbar-box {
      min-height: 10em; 
    }
  }


#logo {
    align-self: center;
    scale: 0.9; 
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    object-fit: contain;
    height: 180; 
    width: 300;
}

.slink {
    color:black;
    font-family: 'Beckman';
    font-weight: 600;
    font-size: 14px;
    padding-top: 40px;
    text-indent: 1.25rem;
}

.color-navy {
    color:#2A44B5 ;
    font-family: 'Beckman';
    font-weight: 600;
    font-size: 14px;
    padding-top: 40px;
    text-indent: 1.25rem;
}


.drawer-transition {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.centered-icon {
    transform: translateX(-150%);
    position: absolute;
}

@media (max-width: 1400px) {
    .centered-icon{
       scale: 70%;
        
    }
}

.pointer {
    cursor: pointer;
}



