.product-container {
  position: relative;  
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0;
}


.product-icon {
  width: 160px;
  height: 180px;
  align-self: center; 
  margin: 0;

}

@media (max-width: 800px) {
.product-icon {
  max-width: 120px; 
  max-height: 125px;
}
}

@media (max-width: 600px) {
  .product-icon {
    max-width: 115px; 
    max-height: 111px;
  }
  }
  

.raised { 
  margin-top: 0; 
  margin-bottom: 0; 
}

.display-product-name {
  margin-top: 10px;
  font-family: 'Beckman';
  font-size: 15px; 
  text-align: center; 
  transform: translateY(initial); 
  transition: transform 0.3s; 

}

@media (max-width: 900px) {
  .display-product-name {
    font-size: 15px; 
  }
}

.product-icon:hover + .product-name {
  transform: translateY(40%); 
}
