.product-container {
    height: 200px;
    align-items: center;
}

.product-icon {
    min-width: 140px;
    min-height: 140px;
}

.raised { 
    margin-top: 0; 
    margin-bottom: 0; 

}

.linear {
    margin-top: 60vh;
    margin-bottom: 20vh;
}

.product-name {
    text-align: center;
    margin-top: 30px;
    font-family: 'Beckman';
    size: 18px; 
    
}

.selected {
}