#product-panel {
    align-self: center;
    position: absolute; 
}

.product-name {
    font-family: Beckman;
    font-weight: normal;
    font-style: normal;
    line-height: 1.428 em; 
    font-size: 1.175em;
    letter-spacing: 0.015em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.product-name.visible {
    opacity: 1; 
    transition-delay: 1s;
    color: red; 
}

.product-name.invisible {
    color: blue; 
}


.product-description {
    font-family: Montserrat;
    font-size: 0.9em !important;
    line-height: 1.65em;
    letter-spacing: 0.0em;
    font-weight: normal;
    font-style: normal;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.product-description.visible {
    opacity: 1; 
    transition-delay: 1s;
}

.product-descriptoin.invisible {
    transform: translateY(20%);
    color: blue; 
}


.contact {
    font-family: Montserrat;
    font-size: 0.9em !important;
    line-height: 1.65em;
    letter-spacing: 0.0em;
    font-weight: normal;
    font-style: normal;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.contact.visible {
    opacity: 1; 
    transition-delay: 1s;
    transform: translateY(-0.5em)
}

.contact.invisible {
    transform: translateY(20%);
    color: blue; 
}


.button.visible {
    transform: translateY(-5em);
}