#product-panel {
    position: absolute; 
}

.product-name, .product-description, .contact {
    display: block;
    margin: 1em 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1.65em;
}

.product-name {
    font-family: Beckman;
    font-size: 1.175em;
    letter-spacing: 0.015em;
}

.product-description, .contact {
    font-family: Montserrat;
    font-size: 0.9em;
}

.product-name.invisible, 
.product-description.invisible, 
.contact.invisible {
    transform: translateY(20%);
    color: blue; 
}

.product-name.visible, 
.product-description.visible, 
.contact.visible {
    opacity: 1; 
    transition-delay: 1s;
}

.product-name.visible {
    color: red; 
}

.contact.visible {
    transform: translateY(-0.5em);
}

.button.visible {
    transform: translateY(-5em);
}
