.products-section {
    position: relative;
    margin-top: 0;
    width: 100vw;
    height: max-content; 
    min-height: 35em; 
    z-index: 1;
    padding-top: 10px;
}


.products-container {
    position: relative;
    background-color: whitesmoke;
    height: max-content;
    padding-top: 15px;  /* how far heading down */
    align-items: center;
    flex-direction: row;
    min-height: 35em;
}

.panelContainer {
    padding: 100px;
    height: 40vh;
    position: absolute;
}

.inactiveProductPanel {
    margin:0;
    align-self:center;
}

/* .activeProductPanel {
    align-items: center; 
    display: inline-flex;
    text-align: center;
    width: 100%;
}

.activePanelContent {
    width: 60%;
    text-align: center; 
    font-family: "Montserrat";
    line-height: 25px;
    font-weight: 590;
    font-size: 1em;
} */

.fade-out { /* for products */ 
    opacity: 0; 
    transition: opacity 0.5s ease; /* Add transition effect for smooth fading */
}

.fade-out-panel { /* for products */ 
  opacity: 0; 
  transform: translateY(-50%) 0.25 ease; /* remove the element from pannel */ 
  transition: opacity 8s ease; /* Add transition effect for smooth fading */
}

.showSpin {
  opacity: 1;
}

.hideSpin {
  opacity: 0;
}
  
  .ps-diag {
    position: absolute;
    left: 0%;
    top: 100%; 
    width: 110%;
    height: 60%;
    z-index: 1;
  }

  .ps-diag::after {
    content: '';
    position: absolute;
    top: -70%;
    left: 40%;
    width: 100%;
    height: 60%;
    background: white;
    flex-shrink: 0; 
    transform-origin: 100% 0%;
    -webkit-transform: rotate(-5deg) translateX(-50%);
    -ms-transform: rotate(-5deg) translateX(-50%);
    transform: rotate(-5deg) translateX(-50%);
  }
  
  @media (max-width: 450px) {
    .ps-diag::after {
      top: -30%;
    }
  }

