.article-container {
    display: block;
    margin-top: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px; 
    position: relative;
    text-size-adjust: 100%;
}

.article-header {
    display: block;
    font: 12.6px;
    color: #103A9C;
    font-family: Beckman;
}

.article-title {
    font: 12.96px;
    font-family: Beckman; 
}

.article-desc {
    font-family: "Montserrat"; 
    letter-spacing: normal;
    line-height: 1.65em;
    margin-block-end: 12.96px;
    margin-block-start: 12.96px;
    font-size: 0.9em;
    font-style:normal;
    font-weight: light;
    word-spacing:2px;
}

.hoveredArticle {
    transition: transform 0.5s ease;
    transform: translateY(-15px);
}

.read-link {
    font-family: Beckman;
    color: #103A9C
}

.showRead {
    opacity: 100%;
    transition: transform 0.5s ease; 
    transform: translateY(-5px);
}

.hideRead {
    opacity: 0%;
}