#pubs-section {
  position: relative;
  margin-top: 0px;
  padding-top: 65px;
  min-height: 80vh;
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: column; /* Add this line */
}

.pubs-container {
  z-index: 1;
  background-color: whitesmoke;
  min-height: auto; 
  padding-top: 15px;
  padding-bottom: 30px;
  padding-right: 150px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%; 
  margin: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.pubs-grid {
    padding: 10px;
}

.pubs-diag {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 110%;
  height: 25%;
  z-index: 1;
}


.pubs-diag::after {
  content: '';
  position: absolute;
  display: block;
  flex-shrink: 0; 
  top: 15%;
  left: 40%;
  width: 100%;
  height: 100%;
  background: white;
  transform-origin: 100% 0%;
  -webkit-transform: rotate(-5deg) translateX(-50%);
  -ms-transform: rotate(-5deg) translateX(-50%);
  transform: rotate(-5deg) translateX(-50%);
}





  

    
