.pubs-section {
  position: relative;
  margin-top: 0px;
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media (min-aspect-ratio: 1.75/3) {
  .pubs-section {
      min-height: 600px; 
  }
  }


.pubs-container {
  position: relative; 
  z-index: 1;
  background-color: whitesmoke;
  min-height: auto; 
  padding-top: 15px;
  padding-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%; 
  margin: 10px;
  overflow-x: hidden; 
  overflow-y: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.pubs-grid {
    z-index: 2;
    padding: 10px;
    padding-top: 20px; 
}

.pubs-diag {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 110%;
  height: 35%;
  z-index: 1;
}


.pubs-diag::after {
  content: '';
  position: absolute;
  display: block;
  flex-shrink: 0; 
  top: -95%;
  left: 40%;
  width: 115%;
  height: 100%;
  background: white;
  transform-origin: 100% 0%;
  -webkit-transform: rotate(-5deg) translateX(-50%);
  -ms-transform: rotate(-5deg) translateX(-50%);
  transform: rotate(-5deg) translateX(-50%);
}

@media (max-width: 1500px) {
  .pubs-diag::after {
    top: -90%;
  }
}

@media (max-width: 1200px) {
  .pubs-diag::after {
    top: -65%;
  }
}

@media (max-width: 1000px) {
  .pubs-diag::after {
    top: -55%;
  }
}


@media (max-width: 800px) {
  .pubs-diag::after {
    top: -30%;
  }
}


@media (max-width: 600px) {
  .pubs-diag::after {
    top: -15%;
  }
}


@media (max-width: 400px) {
  .pubs-diag::after {
    top: -10%;
  }
}









  

    
