@font-face {
  font-family: 'Beckman';
  src: local('Beckman'), url(./fonts/Beckman/Beckman.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat/montserrat.woff2) format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.web-heading {
  font-family: "Beckman";
  font-size: x-large;
  text-align: center;
  padding: 50px;
  font-weight: 700;
  text-indent: 1.25rem;
  letter-spacing: 2px;
}

.triangle {
  display: inline-block;
  float: center;
  width: 15px;
}